@* Generator: MvcView<object> *@
@model SFA.DAS.MA.Shared.UI.Models.IHeaderViewModel
@using SFA.DAS.MA.Shared.UI.Models.Links

@if (Model.UseLegacyStyles)
{
    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    @Html.Raw(Model.RenderLink<GovUk>())
                </div>
            </div>
            <div class="header-proposition">
                <div class="content">
                    @Html.Raw(Model.RenderLink<ManageApprenticeships>())
                </div>
            </div>
        </div>
    </header>
    <div id="floating-menu-holder">
        <div class="account-information floating-menu" role="navigation">
            <div class="js-float">
                <p class="floating-head-text">Your employer account </p>
                <nav id="user-nav">
                    <ul>
                        @Html.Raw(Model.RenderListItemLink<Help>())
                        @if (Model.UserContext?.User != null && Model.UserContext.User.Identity.IsAuthenticated)
                        {
                            <li class="has-sub-menu">
                                <a href="/" role="menuitem">Settings</a>
                                <ul role="menu" class="js-hidden" id="settings-menu">
                                    @if (!Model.MenuIsHidden)
                                    {
                                        @Html.Raw(Model.RenderListItemLink<YourAccounts>())
                                        @Html.Raw(Model.RenderListItemLink<RenameAccount>())
                                    }

                                    @Html.Raw(Model.RenderListItemLink<ChangePassword>())
                                    @Html.Raw(Model.RenderListItemLink<ChangeEmail>())

                                    @if (!Model.MenuIsHidden)
                                    {
                                        if (Model.UseDfESignIn)
                                        {
                                            @Html.Raw(Model.RenderListItemLink<ChangeSignInSettings>())    
                                        }
                                        @Html.Raw(Model.RenderListItemLink<NotificationSettings>())
                                        @Html.Raw(Model.RenderListItemLink<AdvertNotificationSettings>())
                                    }

                                </ul>
                            </li>
                            @Html.Raw(Model.RenderListItemLink<SignOut>())
                        }
                        else
                        {
                            @Html.Raw(Model.RenderListItemLink<SignIn>())
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    if (Model.UserContext?.User != null && Model.UserContext.User.Identity.IsAuthenticated)
    {
        if (!Model.MenuIsHidden)
        {
            <div class="header-organisation" role="navigation">
                <nav class="header-inner">
                    <ul id="global-nav-links">
                        @Html.Raw(Model.RenderListItemLink<Home>(Model.SelectedMenu?.ToLower() == "home"))
                        @Html.Raw(Model.RenderListItemLink<Finance>(Model.SelectedMenu?.ToLower() == "finance"))
                        @Html.Raw(Model.RenderListItemLink<Recruitment>(Model.SelectedMenu?.ToLower() == "recruitment"))
                        @Html.Raw(Model.RenderListItemLink<Apprentices>(Model.SelectedMenu?.ToLower() == "employercommitments"))
                        @Html.Raw(Model.RenderListItemLink<YourTeam>(Model.SelectedMenu?.ToLower() == "team"))
                        @Html.Raw(Model.RenderListItemLink<YourOrganisations>(Model.SelectedMenu?.ToLower() == "organisations"))
                        @Html.Raw(Model.RenderListItemLink<PayeSchemes>(Model.SelectedMenu?.ToLower() == "paye"))
                    </ul>
                </nav>
            </div>
        }
    }
}
else
{
    <header class="govuk-header das-header--no-border" role="banner" data-module="header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                @Html.Raw(Model.RenderLink<GovUk>())
            </div>
            <div class="govuk-header__content">
                @Html.Raw(Model.RenderLink<ManageApprenticeships>())
            </div>
        </div>
    </header>

    <div class="das-account-header das-account-header--employer">
        <div class="govuk-width-container">
            <p class="das-account-header__title">Your employer account</p>
            <nav class="das-user-navigation" id="das-user-navigation">
                <ul class="das-user-navigation__list" role="menu">
                    @Html.Raw(Model.RenderListItemLink<Help>(@class: "das-user-navigation__list-item"))
                    @if (Model.UserContext?.User != null && Model.UserContext.User.Identity.IsAuthenticated)
                    {
                        <li role="menuitem" class="das-user-navigation__list-item das-user-navigation__list-item--has-sub-menu">
                            <a href="/" class="das-user-navigation__link">Settings</a>
                            <ul role="menu" class="das-user-navigation__sub-menu js-hidden">
                                @if (!Model.MenuIsHidden)
                                {
                                    @Html.Raw(Model.RenderListItemLink<YourAccounts>(@class: "das-user-navigation__sub-menu-list-item"))
                                    @Html.Raw(Model.RenderListItemLink<RenameAccount>(@class: "das-user-navigation__sub-menu-list-item"))
                                }
                                @Html.Raw(Model.RenderListItemLink<ChangePassword>(@class: "das-user-navigation__sub-menu-list-item"))
                                @Html.Raw(Model.RenderListItemLink<ChangeEmail>(@class: "das-user-navigation__sub-menu-list-item"))

                                @if (!Model.MenuIsHidden)
                                {
                                    if (Model.UseDfESignIn)
                                    {
                                        @Html.Raw(Model.RenderListItemLink<ChangeSignInSettings>(@class: "das-user-navigation__sub-menu-list-item"))    
                                    }
                                    @Html.Raw(Model.RenderListItemLink<NotificationSettings>(@class: "das-user-navigation__sub-menu-list-item"))
                                    @Html.Raw(Model.RenderListItemLink<AdvertNotificationSettings>(@class: "das-user-navigation__sub-menu-list-item"))
                                }
                            </ul>
                        </li>
                        @Html.Raw(Model.RenderListItemLink<SignOut>(@class: "das-user-navigation__list-item"))
                    } 
                    else 
                    {
                        @Html.Raw(Model.RenderListItemLink<SignIn>(@class: "das-user-navigation__list-item"))
                    }
                </ul>
            </nav>
        </div>
    </div>

    if (Model.UserContext?.User != null && Model.UserContext.User.Identity.IsAuthenticated)
    {
        if (!Model.MenuIsHidden)
        {
            <nav class="das-navigation">
                <div class="govuk-width-container">
                    <ul class="das-navigation__list" id="navigation">
                        @Html.Raw(Model.RenderListItemLink<Home>(Model.SelectedMenu?.ToLower() == "home", @class: "das-navigation__list-item"))
                        @Html.Raw(Model.RenderListItemLink<Finance>(Model.SelectedMenu?.ToLower() == "finance", @class: "das-navigation__list-item"))
                        @Html.Raw(Model.RenderListItemLink<Recruitment>(Model.SelectedMenu?.ToLower() == "recruitment", @class: "das-navigation__list-item"))
                        @Html.Raw(Model.RenderListItemLink<Apprentices>(Model.SelectedMenu?.ToLower() == "employercommitments", @class: "das-navigation__list-item"))
                        @Html.Raw(Model.RenderListItemLink<YourTeam>(Model.SelectedMenu?.ToLower() == "team", @class: "das-navigation__list-item"))
                        @Html.Raw(Model.RenderListItemLink<YourOrganisations>(Model.SelectedMenu?.ToLower() == "organisations", @class: "das-navigation__list-item"))
                        @Html.Raw(Model.RenderListItemLink<PayeSchemes>(Model.SelectedMenu?.ToLower() == "paye", @class: "das-navigation__list-item"))
                     </ul>
                </div>
            </nav>
        }
    }
}