@using System.Security.Claims
@{
    Layout = "_Layout";
    ViewBag.Title = "GOV.UK One Login Sample Service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <p class="govuk-body">
            This sample service uses the GOV Uk One Login to authenticate.
        </p>

        <p>Name: @Context.User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Name))?.Value</p>
        <p>Email: @Context.User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Email))?.Value</p>
        <p>Sub: @Context.User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.NameIdentifier))?.Value</p>
        <p>CustomClaim AccountId: @Context.User.Claims.FirstOrDefault(c => c.Type.Equals("CustomClaimId"))?.Value</p>

        <a asp-action="AccountDetails" asp-Controller="Home" class="govuk-button">Details</a>
        <a asp-action="ExplainVerify" asp-controller="Home" class="govuk-button">Verified Details</a>
        <a asp-action="SigningOut" asp-controller="Home" class="govuk-button">Sign Out</a>

    </div>
</div>
