@using SFA.DAS.EmployerUrlHelper.Core
@inject ILinkGenerator LinkGenerator

@{
    ViewBag.Title = "Home";
}

<h1>SFA.DAS.EmployerUrlHelper</h1>

<div class="container">
    <h2>Accounts</h2>
    <div class="panel">
        <div class="col">
            <h3>Using Link Generator</h3>
            <ol>
                <li><a href="@LinkGenerator.Account("AAA111")">@nameof(LinkGenerator.Account)</a></li>
                <li><a href="@LinkGenerator.NotificationSettings()">@nameof(LinkGenerator.NotificationSettings)</a></li>
                <li><a href="@LinkGenerator.PayeSchemes("AAA111")">@nameof(LinkGenerator.PayeSchemes)</a></li>
                <li><a href="@LinkGenerator.RenameAccount("AAA111")">@nameof(LinkGenerator.RenameAccount)</a></li>
                <li><a href="@LinkGenerator.YourAccounts()">@nameof(LinkGenerator.YourAccounts)</a></li>
                <li><a href="@LinkGenerator.YourOrganisationsAndAgreements("AAA111")">@nameof(LinkGenerator.YourOrganisationsAndAgreements)</a></li>
                <li><a href="@LinkGenerator.YourTeam("AAA111")">@nameof(LinkGenerator.YourTeam)</a></li>
            </ol>
        </div>

        <div class="col">
            <h3>Using IURLHelper extensions</h3>
            <ol>
                <li><a href="@Url.Account("AAA111")">@nameof(LinkGenerator.Account)</a></li>
                <li><a href="@Url.NotificationSettings()">@nameof(LinkGenerator.NotificationSettings)</a></li>
                <li><a href="@Url.PayeSchemes("AAA111")">@nameof(LinkGenerator.PayeSchemes)</a></li>
                <li><a href="@Url.RenameAccount("AAA111")">@nameof(LinkGenerator.RenameAccount)</a></li>
                <li><a href="@Url.YourAccounts()">@nameof(LinkGenerator.YourAccounts)</a></li>
                <li><a href="@Url.YourOrganisationsAndAgreements("AAA111")">@nameof(LinkGenerator.YourOrganisationsAndAgreements)</a></li>
                <li><a href="@Url.YourTeam("AAA111")">@nameof(LinkGenerator.YourTeam)</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <h2>Commitments</h2>
    <div class="panel">

        <div class="col">
            <h3>Using Link Generator</h3>
            <ol>
                <li><a href="@LinkGenerator.Apprentices("AAA111")">@nameof(LinkGenerator.Apprentices)</a></li>
                <li><a href="@LinkGenerator.CohortDetails("AAA111", "BBB222")">@nameof(LinkGenerator.CohortDetails)</a></li>
            </ol>
        </div>
        <div class="col">
            <h3>Using IURLHelper extensions</h3>
            <ol>
                <li><a href="@Url.Apprentices("AAA111")">@nameof(LinkGenerator.Apprentices)</a></li>
                <li><a href="@Url.CohortDetails("AAA111", "BBB222")">@nameof(LinkGenerator.CohortDetails)</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <h2>Portal</h2>
    <div class="panel">

        <div class="col">
            <h3>Using Link Generator</h3>
            <ol>
                <li><a href="@LinkGenerator.Help()">@nameof(LinkGenerator.Help)</a></li>
                <li><a href="@LinkGenerator.Homepage()">@nameof(LinkGenerator.Homepage)</a></li>
                <li><a href="@LinkGenerator.Privacy()">@nameof(LinkGenerator.Privacy)</a></li>
            </ol>
        </div>
        <div class="col">
            <h3>Using IURLHelper extensions</h3>
            <ol>
                <li><a href="@Url.Help()">@nameof(LinkGenerator.Help)</a></li>
                <li><a href="@Url.Homepage()">@nameof(LinkGenerator.Homepage)</a></li>
                <li><a href="@Url.Privacy()">@nameof(LinkGenerator.Privacy)</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <h2>Recruit</h2>
    <div class="panel">
        <div class="col">
            <h3>Using Link Generator</h3>
            <ol>
                <li><a href="@LinkGenerator.Recruit("AAA111")">@nameof(LinkGenerator.Recruit)</a></li>
            </ol>
        </div>
        <div class="col">
            <h3>Using IURLHelper extensions</h3>
            <ol>
                <li><a href="@LinkGenerator.Recruit("AAA111")">@nameof(LinkGenerator.Recruit)</a></li>
            </ol>
        </div>
    </div>
</div>