<!doctype html>
<html class="govuk-template" lang="en">
<head>
    <meta charset="utf-8" />
    <title>CDN layout</title>
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="@Html.CdnLink("assets/images","govuk-opengraph-image.png")">
    <link rel="mask-icon" href="@Html.CdnLink("assets/images","govuk-mask-icon.svg")" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="@Html.CdnLink("assets/images","govuk-apple-touch-icon-180x180.png")">
    <link rel="apple-touch-icon" sizes="167x167" href="@Html.CdnLink("assets/images","govuk-apple-touch-icon-167x167.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Html.CdnLink("assets/images","govuk-apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon" href="@Html.CdnLink("assets/images","govuk-apple-touch-icon.png")">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="@Html.CdnLink("assets/images","favicon.ico")" type="image/x-icon" />
    <!--[if !IE 8]><!-->
    <link href="@Html.CdnLink("css", "main.css")" rel="stylesheet" />
    <!--<![endif]-->
    @*@Html.Partial("_ZenDeskWidget")
    @Html.Partial("_GoogleAnalyticsHead")*@
</head>
<body class="govuk-template__body">
    @*@Html.Partial("_GoogleAnalyticsBody")*@
    <script>
        document.body.className = (document.body.className ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <a class="govuk-skip-link" href="#main-content">Skip to main content</a>

    @Html.Partial("_CookieBanner", @Html.GetCookieBannerViewModel())

    @Html.Partial("_Header", Html.GetHeaderViewModel())

    <div class="govuk-width-container">
        @RenderSection("breadcrumb", false)
        <main class="govuk-main-wrapper " id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_Footer", Html.GetFooterViewModel())

    <script src="@Html.CdnLink("libs/jquery","jquery.min.js")"></script>
    <script src="@Html.CdnLink("libs/govuk-frontend","all.js")"></script>

    <script src="@Html.CdnLink("js","das-all.min.js")"></script>
    <script src="@Html.CdnLink("js","app.min.js")"></script>

    <script>
        window.GOVUKFrontend.initAll();
        window.DASFrontend.initAll();
    </script>

    @RenderSection("footerJS", required: false)
</body>
</html>