@model string
@using System.Net
@using SFA.DAS.Employer.Shared.UI
@inject UrlBuilder LinkGenerator
@inject MaPageConfiguration OptionsAccessor

@{
    var accountId = Model;
    var selectedSection = ViewData.SelectedNavigationSection();
}

@{
    bool IsErrorPage()
    {
        if (ViewBag.IsErrorPage is bool)
        {
            return ViewBag.IsErrorPage;
        }

        return false;
    }

    bool ParseHideNavFromViewBag()
    {
        if (ViewBag.ShowNav is bool)
        {
            return ViewBag.ShowNav;
        }

        return true;
    }

    string GetEncodedReturnUrl(string url)
    {
        var encodedReturnUrl = WebUtility.UrlEncode(url);

        return encodedReturnUrl;
    }

    string BuildListItemClass(NavigationSection section, NavigationSection sectionSelected)
    {
        var cssClass = "govuk-service-navigation__item";
        if (sectionSelected == section)
        {
            cssClass += " govuk-service-navigation__item--active";
        }
        return cssClass;
    }
    
    string BuildAriaInfo(NavigationSection section, NavigationSection sectionSelected)
    {
        var ariaInfo = "";
        if (sectionSelected == section)
        {
            ariaInfo += " aria-current=true";
        }
        return ariaInfo;
    }
}

@if (Context.User.Identity.IsAuthenticated)
{
    if (ParseHideNavFromViewBag())
    {
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper das-header__navigation__wrapper">
            <ul class="govuk-service-navigation__list  das-header__navigation__list" id="navigation">
                <li class="@BuildListItemClass(NavigationSection.AccountsHome, selectedSection)">
                        <a @BuildAriaInfo(NavigationSection.AccountsHome, selectedSection) class="govuk-service-navigation__link mu-home" href="@LinkGenerator.AccountsLink("AccountsHome", accountId)">Home</a>
                    </li>
                    @if (selectedSection != NavigationSection.None)
                    {
                    <li class="@BuildListItemClass(NavigationSection.AccountsFinance, selectedSection)">
                            <a @BuildAriaInfo(NavigationSection.AccountsFinance, selectedSection) class="govuk-service-navigation__link mu-finance" href="@LinkGenerator.FinanceLink("AccountsFinance", accountId)">Finance</a>
                        </li>
                    <li class="@BuildListItemClass(NavigationSection.RecruitHome, selectedSection)">
                            <a @BuildAriaInfo(NavigationSection.RecruitHome, selectedSection) class="govuk-service-navigation__link mu-recruit" href="@LinkGenerator.RecruitLink("RecruitHome", accountId)">Adverts</a>
                        </li>
                    <li class="@BuildListItemClass(NavigationSection.ApprenticesHome, selectedSection)">
                            <a @BuildAriaInfo(NavigationSection.ApprenticesHome, selectedSection) class="govuk-service-navigation__link mu-apprentices" href="@LinkGenerator.CommitmentsV2Link("ApprenticesHome", accountId)">Apprentices</a>
                        </li>
                    <li class="@BuildListItemClass(NavigationSection.AccountsTeamsView, selectedSection)">
                            <a @BuildAriaInfo(NavigationSection.AccountsTeamsView, selectedSection) class="govuk-service-navigation__link mu-team" href="@LinkGenerator.AccountsLink("AccountsTeamsView", accountId)">Your team</a>
                        </li>
                    <li class="@BuildListItemClass(NavigationSection.AccountsAgreements, selectedSection)">
                            <a @BuildAriaInfo(NavigationSection.AccountsAgreements, selectedSection) class="govuk-service-navigation__link mu-orgs" href="@LinkGenerator.AccountsLink("AccountsAgreements", accountId)">Your organisations and agreements</a>
                        </li>
                    <li class="@BuildListItemClass(NavigationSection.AccountsSchemes, selectedSection)">
                            <a @BuildAriaInfo(NavigationSection.AccountsSchemes, selectedSection) class="govuk-service-navigation__link mu-paye" href="@LinkGenerator.AccountsLink("AccountsSchemes", accountId)">PAYE schemes</a>
                        </li>
                    }
                </ul>
        </nav>
    }
}