@model string
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@using System.Net
@using static SFA.DAS.Employer.Shared.UI.UrlBuilder;
@inject IOptionsMonitor<MaMenuConfiguration> OptionsAccessor

@{
    var accountId = Model;
    var clientId = OptionsAccessor.CurrentValue.ClientId;
    var externalLinks = OptionsAccessor.CurrentValue;
}

@functions {
    private bool IsErrorPage()
    {
        if (ViewBag.IsErrorPage is bool)
        {
            return ViewBag.IsErrorPage;
        }

        return false;
    }

    private bool ParseHideNavFromViewBag()
    {
        if (ViewBag.ShowNav is bool)
        {
            return ViewBag.ShowNav;
        }

        return true;
    }

    private static string GetEncodedReturnUrl(HttpRequest request)
    {
        var url = $"{request.Scheme}://{request.Host}";
        var encodedReturnUrl = WebUtility.UrlEncode($"{url}{request.Path}");    

        return encodedReturnUrl;
    }
}

<div class="das-account-header das-account-header--employer">
    <div class="govuk-width-container">
        <p class="das-account-header__title">Your employer account</p>
        <nav class="das-user-navigation" id="user-nav">
            <ul class="das-user-navigation__list" role="menu">
                <li role="menuitem" class="das-user-navigation__list-item">
                    <a href='@GetLink(externalLinks.Ma, "Help")' class="das-user-navigation__link">Help</a>
                </li>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <li class="has-sub-menu">
                        <a href="/" role="menuitem" class="das-user-navigation__link">Settings</a>
                        <ul role="menu" id="settings-menu" class="js-hidden">
                            <li><a href='@GetLink(externalLinks.Ma, "Accounts", accountId)' role="menuitem" class="sub-menu-item">Your accounts</a></li>
                            @if(!IsErrorPage())
                            {
                                <li><a href='@GetLink(externalLinks.Ma, "RenameAccount", accountId)' class="sub-menu-item">Rename account</a></li>
                            }
                            <li><a href='@GetLink(externalLinks.Identity, "ChangePassword", clientId, GetEncodedReturnUrl(Context.Request))' class="sub-menu-item">Change your password</a></li>
                            <li><a href='@GetLink(externalLinks.Identity, "ChangeEmailAddress", clientId, GetEncodedReturnUrl(Context.Request))' class="sub-menu-item">Change your email address</a></li>
                            @if(!IsErrorPage())
                            {
                                <li><a href='@GetLink(externalLinks.Ma, "Notifications")' class="sub-menu-item">Notifications settings</a></li>
                            }
                        </ul>
                    </li>
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a asp-route="@externalLinks.LocalLogoutRouteName" role="menuitem" class="das-user-navigation__link">Sign out</a>
                    </li>
                }
                else
                {
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a href="@GetLink(externalLinks.Ma)" role="menuitem" class="das-user-navigation__link">Sign in / Register</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@if (Context.User.Identity.IsAuthenticated)
{
    if(ParseHideNavFromViewBag())
    {
        <nav class="das-navigation">
            <div class="govuk-width-container">
                <ul class="das-navigation__list" id="navigation" role="menu">
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Ma, "AccountsHome", accountId)'>Home</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Ma, "AccountsFinance", accountId)'>Finance</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Recruit, "RecruitHome", accountId)'>Recruitment</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Commitments, "ApprenticesHome", accountId)'>Apprentices</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Ma, "AccountsTeamsView", accountId)'>Your team</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Ma, "AccountsAgreements", accountId)'>Your organisations and agreements</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="das-navigation__link" href='@GetLink(externalLinks.Ma, "AccountsSchemes", accountId)'>PAYE schemes</a>
                    </li>
                 </ul>
             </div>
         </nav>
    }
}