@model string
@using Microsoft.Extensions.Options
@using System.Net
@using SFA.DAS.Employer.Shared.UI
@using static SFA.DAS.Employer.Shared.UI.UrlBuilder;
@inject SFA.DAS.Employer.Shared.UI.UrlBuilder linkGenerator
@inject IOptionsMonitor<MaPageConfiguration> OptionsAccessor

@{
    var accountId = Model;
    var clientId = OptionsAccessor.CurrentValue.ClientId;
    var selectedSection = ViewData.SelectedNavigationSection();
    var logoutRoute = OptionsAccessor.CurrentValue.LocalLogoutRouteName;
    var externalLinks = OptionsAccessor.CurrentValue.Routes;
}

@functions {
    private bool IsErrorPage()
    {
        if (ViewBag.IsErrorPage is bool)
        {
            return ViewBag.IsErrorPage;
        }

        return false;
    }

    private bool ParseHideNavFromViewBag()
    {
        if (ViewBag.ShowNav is bool)
        {
            return ViewBag.ShowNav;
        }

        return true;
    }

    private static string GetEncodedReturnUrl(string url)
    {
        var encodedReturnUrl = WebUtility.UrlEncode(url);

        return encodedReturnUrl;
    }

    private string BuildNavigationLinkClass(NavigationSection section, NavigationSection selectedSection)
    {
        var @class = "das-navigation__link";
        if (selectedSection == section)
        {
            @class += " das-navigation__link--current";
        }
        return @class;
    }
}

    <div class="das-account-header das-account-header--employer">
        <div class="govuk-width-container">
            <p class="das-account-header__title">Your employer account</p>
            <nav class="das-user-navigation" id="das-user-navigation">
                <ul class="das-user-navigation__list" role="menu">
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a href="@linkGenerator.AccountsLink("Help")" class="das-user-navigation__link mu-help">Help</a>
                    </li>
                    @if (Context.User.Identity.IsAuthenticated)
                {
                    <li role="menuitem" class="das-user-navigation__list-item das-user-navigation__list-item--has-sub-menu">
                        <a href="/" role="menuitem" class="das-user-navigation__link">Settings</a>
                        <ul role="menu" class="das-user-navigation__sub-menu js-hidden">
                            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                <a href="@linkGenerator.AccountsLink("Accounts")" role="menuitem" class="das-user-navigation__sub-menu-link mu-accounts">Your accounts</a>
                            </li>
                            @if(!IsErrorPage())
                            {
                            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                <a href="@linkGenerator.AccountsLink("RenameAccount", accountId)" class="das-user-navigation__sub-menu-link mu-rename-acc">Rename account</a>
                            </li>
                            }
                            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                <a href="@linkGenerator.UsersLink("ChangePassword", clientId, GetEncodedReturnUrl(linkGenerator.AccountsLink("ChangePasswordReturn")))" class="das-user-navigation__sub-menu-link mu-change-pass">Change your password</a>
                            </li>
                            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                <a href="@linkGenerator.UsersLink("ChangeEmailAddress", clientId, GetEncodedReturnUrl(linkGenerator.AccountsLink("ChangeEmailReturn")))" class="das-user-navigation__sub-menu-link mu-change-email">Change your email address</a>
                            </li>
                            @if(!IsErrorPage())
                            {
                            <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                <a href="@linkGenerator.AccountsLink("Notifications")" class="das-user-navigation__sub-menu-link mu-not-settings">Notifications settings</a>
                            </li>
                            }
                        </ul>
                    </li>
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a asp-route="@logoutRoute" role="menuitem" class="das-user-navigation__link">Sign out</a>
                    </li>
                }
                else
                {
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a href="@linkGenerator.AccountsLink()" role="menuitem" class="das-user-navigation__link mu-signout mu-signin">Sign in / Register</a>
                    </li>
                }
                </ul>
            </nav>
        </div>
    </div>

    @if (Context.User.Identity.IsAuthenticated)
{
    if(ParseHideNavFromViewBag())
    {
        <nav class="das-navigation">
            <div class="govuk-width-container">
                <ul class="das-navigation__list" id="navigation" role="menu">
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.AccountsHome, selectedSection) mu-home" href=href="@linkGenerator.AccountsLink("AccountsHome", accountId)">Home</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.AccountsFinance, selectedSection) mu-finance" href="@linkGenerator.FinanceLink("AccountsFinance", accountId)">Finance</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.RecruitHome, selectedSection) mu-recruit" href="@linkGenerator.RecruitLink("RecruitHome", accountId)">Recruitment</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.ApprenticesHome, selectedSection) mu-apprentices" href="@linkGenerator.CommitmentsLink("ApprenticesHome", accountId)">Apprentices</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.AccountsTeamsView, selectedSection) mu-team" href="@linkGenerator.AccountsLink("AccountsTeamsView", accountId)">Your team</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.AccountsAgreements, selectedSection) mu-orgs" href="@linkGenerator.AccountsLink("AccountsAgreements", accountId)">Your organisations and agreements</a>
                    </li>
                    <li class="das-navigation__list-item">
                        <a class="@BuildNavigationLinkClass(NavigationSection.AccountsSchemes, selectedSection)mu-paye" href="@linkGenerator.AccountsLink("AccountsSchemes", accountId)">PAYE schemes</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
}