@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using SFA.DAS.Employer.Shared.UI.Models
@{
    string accountId = (string)this.ViewContext.RouteData.Values["employerAccountId"];
    ViewBag.HideHeaderBorder = true;
    var footerModel = new FooterModel { AccountId = accountId, UsePrivacyV2 = true };
}
<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#0b0c0c" />
    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico" />
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png" />
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body class="govuk-template__body ">
    <script nws-csp-add-nonce="true">
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_Header">
        <partial name="_Menu" model="@accountId">
            <div class="govuk-width-container app-account-header">
                @RenderSection("BodyHeader", required: false)
            </div>
        </partial>
    </partial>
    <div class="das-section--dashboard">
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper" id="main-content" role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="_Footer" model="@footerModel">
        <script type="module" src="/libs/govuk-frontend/govuk-frontend.min.js"></script>
        <script type="module" cdnify>
            import {
                initAll
            } from '@Configuration["cdn:url"]/libs/govuk-frontend/govuk-frontend.min.js'
            initAll()
        </script>
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/js/das-all.js"></script>
        <script src="/js/app.min.js"></script>
        <script>
            window.DASFrontend.initAll();
        </script>
    </partial>
</body>

</html>