@inject IConfiguration Configuration
@using WebEssentials.AspNetCore.CdnTagHelpers
@using SFA.DAS.Employer.Shared.UI.Models
@{
    string accountId = this.ViewContext.RouteData.Values["employerAccountId"] as string ?? string.Empty;
    ViewBag.HideHeaderBorder = true;
    var footerModel = new FooterModel { AccountId = accountId, UsePrivacyV2 = true };
}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
    <head>
        <meta charset="utf-8" />
        <title>@(ViewData["Title"] ?? "Gov UK Sample site apprenticeships")</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#0b0c0c" />

        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
        <link rel="mask-icon" href="assets/images/govuk-mask-icon.svg" color="#0b0c0c"/>
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/govuk-apple-touch-icon-180x180.png"/>
        <link rel="apple-touch-icon" sizes="167x167" href="assets/images/govuk-apple-touch-icon-167x167.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/govuk-apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" href="assets/images/govuk-apple-touch-icon.png"/>

        <!--[if !IE 8]><!-->
        <link href="css/main.css" rel="stylesheet" />
        <!--<![endif]-->
    </head>

 <body class="govuk-template__body ">
        <script nws-csp-add-nonce="true">
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        <partial name="_Header">
            @* ReSharper disable once Mvc.PartialViewNotResolved *@
            <partial name="_Menu" model="@accountId">
            </partial>
        </partial>

        <div class="govuk-width-container">
            @await RenderSectionAsync("breadcrumb", required: false)
            <main class="govuk-main-wrapper" id="main-content" role="main">
                @RenderBody()
            </main>
        </div>

        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        <partial name="_Footer" model="@footerModel"/>
        
        <script type="module" src="/libs/govuk-frontend/govuk-frontend.min.js"></script>
            <script type="module" cdnify>
            import {
                initAll
            } from '@Configuration["cdn:url"]/libs/govuk-frontend/govuk-frontend.min.js'

            initAll()
        </script>
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/js/das-all.min.js"></script>
        <script src="/js/app.min.js"></script>
        <script>
            window.DASFrontend.initAll();
        </script>
    </body>
</html>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>