@using SFA.DAS.Provider.Shared.UI
@using SFA.DAS.Provider.Shared.UI.Extensions

@if (Context.User.Identity.IsAuthenticated)
{
    var providerId = User.Identity.GetProviderId();
    var suppressed = ViewData.SuppressedNavigationSections();
    var selected = ViewData.SelectedNavigationSection();

    if (!ViewData.HiddenAccountHeader())
    {
        
        <section aria-label="Service information" class="govuk-service-navigation das-header__navigation">
            <div class="govuk-width-container">
                <div class="govuk-service-navigation__container das-header__navigation__container">
                    <div class="das-header__service-user-name-wrap">
                        <span class="govuk-service-navigation__service-name">
                            <span class="govuk-service-navigation__text">Your training provider account</span>
                        </span>
                        <p class="das-header__user-name">@Context.User.Identity.Name</p>
                    </div>
                    @if (!ViewData.HiddenNavigationLinks())
                    {
                        <nav
                            aria-label="Menu"
                            class="govuk-service-navigation__wrapper das-header__navigation__wrapper"
                        >
                            <ul class="govuk-service-navigation__list das-header__navigation__list">
                                @if (!suppressed.Contains(NavigationSection.Home))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.Home ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-controller="Account"> Home </a>
                                    </li>
                                }
                                @if (!suppressed.Contains(NavigationSection.YourCohorts))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.YourCohorts ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-subdomain="approvals" asp-external-controller="unapproved" asp-external-id="@providerId"> Apprentice requests </a>
                                    </li>
                                }
                                @if (!suppressed.Contains(NavigationSection.Reservations))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.Reservations ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-subdomain="securefunding" asp-external-action="manage" asp-external-controller="reservations" asp-external-id="@providerId"> Manage funding </a>
                                    </li>
                                }
                                @if (!suppressed.Contains(NavigationSection.ManageApprentices))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.ManageApprentices ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-subdomain="approvals" asp-external-controller="apprentices" asp-external-id="@providerId"> Manage your apprentices </a>
                                    </li>
                                }
                                @if (!suppressed.Contains(NavigationSection.Recruit))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.Recruit ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-controller="" asp-external-subdomain="recruit" asp-external-id="@providerId"> Recruit apprentices </a>
                                    </li>
                                }
                                @if (!suppressed.Contains(NavigationSection.Relationships))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.Relationships ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-controller="" asp-external-subdomain="relationships" asp-external-id="@providerId" >
                                            View employers and manage permissions
                                        </a>
                                    </li>
                                }
                                @if (!suppressed.Contains(NavigationSection.StandardsAndTrainingVenues))
                                {
                                    <li class="govuk-service-navigation__item @(selected == NavigationSection.StandardsAndTrainingVenues ? "govuk-service-navigation__item--active" : "")">
                                        <a class="govuk-service-navigation__link" asp-external-controller="review-your-details" asp-external-subdomain="roatp" asp-external-id="@providerId">
                                            Your standards and training venues
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </section>
        
    }
}

