<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @{ Html.RenderPartial("_Header", new SFA.DAS.Employer.Shared.UI.Demo.Models.HeaderViewModel());}
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="border-top footer text-muted">
        @{ Html.RenderPartial("_Footer", new SFA.DAS.Employer.Shared.UI.Demo.Models.FooterViewModel());}
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
